.stock{
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &-details{
        display: flex;
        justify-content: space-between;        
    }
    &-last-update{
        display: flex;
        justify-content: start;
    }
    &-btn-remove{
        display: flex;
        justify-content: flex-end;
    }
}